@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    --lines: 1px solid #000000;
    --books-gap: 2vw;
    --lines-border-radius: 24px;
    margin: 0 var(--books-gap);
}

header {
    display: flex;
    border-bottom: var(--lines);
    justify-content: space-between;
    z-index: 999;
    position: relative;
}

header div {
    display: flex;
    gap: 12px;
}

header button {
    transition: transform 0.3s ease-in-out;
}

button.rotated {
    transform: rotate(45deg);
}

h1 {
    font-weight: 400;
}

h2 {
    font-weight: 300;
}

.pages {
    font-weight: 200;
}

#main-section {
    display: grid;
    gap: var(--books-gap);
    padding: var(--books-gap) 0;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    align-items: stretch;
}

.book {
    border: var(--lines);
    border-radius: var(--lines-border-radius);
    padding: var(--books-gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: min-content;
}

.book h1, .book h2 {
    margin: 0;
}

.book .text {
    display: flex;
    flex-direction: column;
}

.book .text div {
    align-self: flex-end;
    margin-top: 12px;
}

.book button, header button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

.book .buttons {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.book img {
    height: 2.2rem;
}

.book button:first-child img {
    height: 3rem;
}

#form-container {
    position: fixed;
    top: 0;
    right: -400px; /* Start offscreen */
    width: 400px;
    height: 100%;
    transition: right 0.3s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(7px);
    z-index: 998;
    border-left: var(--lines);
}

#form-container.visible {
    right: 0; /* Slide in from the right */
}

.form-control {
    display: flex;
    gap: 8px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    background-color: CanvasText;
}

form button {
    border: var(--lines);
    border-radius: var(--lines-border-radius);
    background-color: #ffffff;
    padding: 8px;

}

form {
    background-color: #6e6e6e;
    padding: 64px;
    border-radius: var(--lines-border-radius);
    border: var(--lines);
}

input[type="text"], input[type="number"] {
    max-width: 180px;
    height: 28px;
    border: var(--lines);
    border-radius: 8px;
    padding-left: 4px;
}
.book * {
    word-wrap: break-word;
}